In [26]:
import pandas as pd

In [27]:
df_meta = pd.read_csv('../meta/ag1000g/phase2_samples.meta.txt', sep='\t')
df_meta.columns

Index(['ox_code', 'src_code', 'population', 'country', 'location', 'site',
       'contributor', 'contact', 'year', 'm_s', 'sex', 'n_sequences',
       'mean_coverage', 'ebi_sample_acc', 'latitude', 'longitude'],
      dtype='object')

In [28]:
tb = pd.DataFrame(df_meta.groupby(['country', 'location', 'site',  'year', 'latitude', 'longitude']).size().reset_index(name='size'))

In [29]:
tb

,country,location,site,year,latitude,longitude,size
0,Angola,Luanda,Luanda,2009,-8.821000,13.291000,78
1,Burkina Faso,Bana,Bana,2012,11.233000,-4.472000,60
2,Burkina Faso,Pala,Pala,2012,11.150000,-4.235000,56
3,Burkina Faso,Souroukoudinga,Souroukoudinga,2012,11.235000,-4.535000,51
4,Cameroon,Daiguene,Daiguene,2009,4.777000,13.844000,96
5,Cameroon,Gado Badzere,Gado Badzere,2009,5.747000,14.442000,73
6,Cameroon,Mayos,Mayos,2009,4.341000,13.558000,105
7,Cameroon,Zembe Borongo,Zembe Borongo,2009,5.747000,14.442000,23
8,Cote d'Ivoire,Tiassale,Tiassale,2012,5.898390,-4.822930,71
9,Equatorial Guinea,Bioko,Bioko,2002,3.700000,8.700000,9
10,France,Mayotte,Bouyouni,2011,-12.737813,45.141696,1
11,France,Mayotte,Combani,2011,-12.778704,45.142913,5
12,France,Mayotte,Karihani Lake,2011,-12.796525,45.121722,3
13,France,Mayotte,Mont Benara,2011,-12.857000,45.155181,2
14,France,Mayotte,Mtsamboro Forest Reserve,2011,-12.702710,45.081091,1
15,France,Mayotte,Mtsanga Charifou,2011,-12.990662,45.155673,8
16,France,Mayotte,Sada,2011,-12.852147,45.103891,4
17,Gabon,Libreville,Libreville,2000,0.384000,9.455000,69
18,"Gambia, The",Njabakunda,Kerr Birom Kardo,2011,13.550000,-15.900000,19
19,"Gambia, The",Njabakunda,Kerr Sama Kuma,2011,13.550000,-15.900000,8
20,"Gambia, The",Njabakunda,Maria Samba Nyado,2011,13.550000,-15.900000,18
21,"Gambia, The",Njabakunda,Sare Illo Buya,2011,13.550000,-15.900000,20
22,Ghana,Koforidua,Koforidua,2012,6.094490,-0.260930,1
23,Ghana,Madina,Madina,2012,5.668490,-0.219280,24
24,Ghana,Takoradi,Takoradi,2012,4.912170,-1.773970,20
25,Ghana,Twifo Praso,Twifo Praso,2012,5.608580,-1.549260,22
26,Guinea,Koraboh,Koraboh,2012,9.250000,-9.917000,22
27,Guinea,Koundara,Koundara,2012,8.500000,-9.417000,22
28,Guinea-Bissau,Antula,Antula,2010,11.891000,-15.582000,58
29,Guinea-Bissau,Safim,Safim,2010,11.956889,-15.649222,33
30,Kenya,Kilifi,Junju,2012,-3.862000,39.745000,16
31,Kenya,Kilifi,Mbogolo,2012,-3.635000,39.858000,32
32,Uganda,Tororo,Nagongera,2012,0.770000,34.026000,112

In [30]:
#tb.to_latex(bold_rows=False)

In [31]:
#to make it easier to play with formatting, I will build the table from scratch and use petl like the vgsc tables

In [32]:
#setup country column
last = ''
country = []
for a in list(tb.country):
    if a == last:
        country.append('')
    else:
        country.append(a)
    last = a

In [33]:
#setup country column
last = ''
location = []
for a in list(tb.location):
    if a == last:
        location.append('')
    else:
        location.append(a)
    last = a

In [34]:
#set up site column
site = []
for a, b in zip(location, list(tb.site)):
    if a == b:
        site.append('')
    else:
        site.append(b)

In [35]:
year = list(tb.year)
latitude = list(tb.latitude)
longitude = list(tb.longitude)

In [36]:
hm = pd.DataFrame(list(zip(country, location, site, year, latitude, longitude)),
              columns=['country', 'location', 'site', 'year', 'latitude', 'longitude'])

### get a count of gambiae and coluzzii per population
- includes 4 potential methods

In [13]:
# #nick method #1
# #still end up with difficult to work with series
# # First fill unknowns
# df_meta.m_s.fillna('unknown', inplace=True)
# # crosstab works, but can't handle the multiindex
# n1 = pd.crosstab(df_meta.site, df_meta.m_s, dropna=False)
# #then merge this on site with tb above before pruning

In [25]:
#nick method 2 - works and values are already in table order

In [51]:
# First fill unknowns
df_meta.m_s.fillna('unknown', inplace=True)

In [57]:
# Fix the m/s
df_meta.replace('M/S', 'S', inplace=True)

In [58]:
# groupby can, but is a bit more involved
count_g = df_meta.groupby(["country", "location", "site"]).m_s.value_counts()

In [59]:
count_g.name = "count"

In [60]:
count_g = count_g.reset_index().pivot_table(
    values="count", 
    columns="m_s", 
    index=["country", "location", "site"]).fillna(0).astype("int")

In [61]:
count_g

m_s                                                         M    S  unknown
country           location       site
Angola            Luanda         Luanda                    78    0        0
Burkina Faso      Bana           Bana                      40   20        0
                  Pala           Pala                      10   46        0
                  Souroukoudinga Souroukoudinga            25   26        0
Cameroon          Daiguene       Daiguene                   0   96        0
                  Gado Badzere   Gado Badzere               0   73        0
                  Mayos          Mayos                      0  105        0
                  Zembe Borongo  Zembe Borongo              0   23        0
Cote d'Ivoire     Tiassale       Tiassale                  71    0        0
Equatorial Guinea Bioko          Bioko                      0    9        0
France            Mayotte        Bouyouni                   0    1        0
                                 Combani                    0    5        0
                                 Karihani Lake              0    3        0
                                 Mont Benara                0    2        0
                                 Mtsamboro Forest Reserve   0    1        0
                                 Mtsanga Charifou           0    8        0
                                 Sada                       0    4        0
Gabon             Libreville     Libreville                 0   69        0
Gambia, The       Njabakunda     Kerr Birom Kardo           0    0       19
                                 Kerr Sama Kuma             0    0        8
                                 Maria Samba Nyado          0    0       18
                                 Sare Illo Buya             0    0       20
Ghana             Koforidua      Koforidua                  1    0        0
                  Madina         Madina                    12   12        0
                  Takoradi       Takoradi                  20    0        0
                  Twifo Praso    Twifo Praso               22    0        0
Guinea            Koraboh        Koraboh                    0   22        0
                  Koundara       Koundara                   4   18        0
Guinea-Bissau     Antula         Antula                     0    0       58
                  Safim          Safim                      0    0       33
Kenya             Kilifi         Junju                      0    0       16
                                 Mbogolo                    0    0       32
Uganda            Tororo         Nagongera                  0  112        0

In [211]:
##chris's loop method
# gambiae = []
# coluzzii = []
# unknown = []

# for site in tb.site:
#     gambiae.append(df_meta.loc[(df_meta["site"] == site) & (df_meta["m_s"] == 'M/S') | (df_meta["site"] == site) & (df_meta["m_s"] == 'S')].shape[0])
#     coluzzii.append(df_meta.loc[(df_meta["site"] == site) & (df_meta["m_s"] == 'M')].shape[0])
#     unknown.append(df_meta.loc[(df_meta["site"] == site) & (df_meta.m_s.isna())].shape[0])
    
# assert len(gambiae) == 33
# assert len(coluzzii) == 33
# assert len(unknown) == 33

In [56]:
##manual method
# gambiae = ['0', '20', '46', '26', '96', '73','105', '23', '0', '9', '1', '5', '3', '2', '1', '8', '4','69', '0', '0', '0', '0', '0', '12', '0', '0', '22', '18', '0', '0', '0', '0', '112'] 
# coluzzii = ['78', '40', '10', '25', '0', '0', '0', '0', '71', '0', '0', '0', '0', '0', '0', '0', '0', '0',  '0', '0', '0', '0', '1', '12', '20', '22', '0', '4', '0', '0',  '0', '0', '0']
# unknown = [ '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '19', '8', '18', '20', '0', '0', '0', '0', '0',  '0', '58', '33', '16', '32', '0']

In [62]:
hm['gambiae'] = list(count_g.S)
hm['coluzzii'] = list(count_g.M)
hm['unknown'] = list(count_g.unknown)
hm

,country,location,site,year,latitude,longitude,gambiae,coluzzii,unknown
0,Angola,Luanda,,2009,-8.821000,13.291000,0,78,0
1,Burkina Faso,Bana,,2012,11.233000,-4.472000,20,40,0
2,,Pala,,2012,11.150000,-4.235000,46,10,0
3,,Souroukoudinga,,2012,11.235000,-4.535000,26,25,0
4,Cameroon,Daiguene,,2009,4.777000,13.844000,96,0,0
5,,Gado Badzere,,2009,5.747000,14.442000,73,0,0
6,,Mayos,,2009,4.341000,13.558000,105,0,0
7,,Zembe Borongo,,2009,5.747000,14.442000,23,0,0
8,Cote d'Ivoire,Tiassale,,2012,5.898390,-4.822930,0,71,0
9,Equatorial Guinea,Bioko,,2002,3.700000,8.700000,9,0,0
10,France,Mayotte,Bouyouni,2011,-12.737813,45.141696,1,0,0
11,,,Combani,2011,-12.778704,45.142913,5,0,0
12,,,Karihani Lake,2011,-12.796525,45.121722,3,0,0
13,,,Mont Benara,2011,-12.857000,45.155181,2,0,0
14,,,Mtsamboro Forest Reserve,2011,-12.702710,45.081091,1,0,0
15,,,Mtsanga Charifou,2011,-12.990662,45.155673,8,0,0
16,,,Sada,2011,-12.852147,45.103891,4,0,0
17,Gabon,Libreville,,2000,0.384000,9.455000,69,0,0
18,"Gambia, The",Njabakunda,Kerr Birom Kardo,2011,13.550000,-15.900000,0,0,19
19,,,Kerr Sama Kuma,2011,13.550000,-15.900000,0,0,8
20,,,Maria Samba Nyado,2011,13.550000,-15.900000,0,0,18
21,,,Sare Illo Buya,2011,13.550000,-15.900000,0,0,20
22,Ghana,Koforidua,,2012,6.094490,-0.260930,0,1,0
23,,Madina,,2012,5.668490,-0.219280,12,12,0
24,,Takoradi,,2012,4.912170,-1.773970,0,20,0
25,,Twifo Praso,,2012,5.608580,-1.549260,0,22,0
26,Guinea,Koraboh,,2012,9.250000,-9.917000,22,0,0
27,,Koundara,,2012,8.500000,-9.417000,18,4,0
28,Guinea-Bissau,Antula,,2010,11.891000,-15.582000,0,0,58
29,,Safim,,2010,11.956889,-15.649222,0,0,33
30,Kenya,Kilifi,Junju,2012,-3.862000,39.745000,0,0,16
31,,,Mbogolo,2012,-3.635000,39.858000,0,0,32
32,Uganda,Tororo,Nagongera,2012,0.770000,34.026000,112,0,0

In [15]:
#pandas to latex doesn't seem as flexible as petl - switch
#hntx = hm.to_latex(index=False)

In [63]:
import petl as etl
import numpy as np

In [64]:
a = etl.fromdataframe(hm)

In [65]:
a

+----------------+------------------+------+------+--------------------+---------------------+---------+----------+---------+
| country        | location         | site | year | latitude           | longitude           | gambiae | coluzzii | unknown |
+================+==================+======+======+====================+=====================+=========+==========+=========+
| 'Angola'       | 'Luanda'         | ''   | 2009 |             -8.821 |  13.290999999999999 |       0 |       78 |       0 |
+----------------+------------------+------+------+--------------------+---------------------+---------+----------+---------+
| 'Burkina Faso' | 'Bana'           | ''   | 2012 | 11.232999999999999 | -4.4719999999999995 |      20 |       40 |       0 |
+----------------+------------------+------+------+--------------------+---------------------+---------+----------+---------+
| ''             | 'Pala'           | ''   | 2012 |              11.15 |              -4.235 |      46 |       10 |       0 |
+----------------+------------------+------+------+--------------------+---------------------+---------+----------+---------+
| ''             | 'Souroukoudinga' | ''   | 2012 |             11.235 |              -4.535 |      26 |       25 |       0 |
+----------------+------------------+------+------+--------------------+---------------------+---------+----------+---------+
| 'Cameroon'     | 'Daiguene'       | ''   | 2009 |              4.777 |  13.844000000000001 |      96 |        0 |       0 |
+----------------+------------------+------+------+--------------------+---------------------+---------+----------+---------+
...

In [66]:
b = etl.convert(a, ['latitude', 'longitude'], lambda v: "{0:.4f}".format(v))

In [68]:
b

+----------------+------------------+------+------+-----------+-----------+---------+----------+---------+
| country        | location         | site | year | latitude  | longitude | gambiae | coluzzii | unknown |
+================+==================+======+======+===========+===========+=========+==========+=========+
| 'Angola'       | 'Luanda'         | ''   | 2009 | '-8.8210' | '13.2910' |       0 |       78 |       0 |
+----------------+------------------+------+------+-----------+-----------+---------+----------+---------+
| 'Burkina Faso' | 'Bana'           | ''   | 2012 | '11.2330' | '-4.4720' |      20 |       40 |       0 |
+----------------+------------------+------+------+-----------+-----------+---------+----------+---------+
| ''             | 'Pala'           | ''   | 2012 | '11.1500' | '-4.2350' |      46 |       10 |       0 |
+----------------+------------------+------+------+-----------+-----------+---------+----------+---------+
| ''             | 'Souroukoudinga' | ''   | 2012 | '11.2350' | '-4.5350' |      26 |       25 |       0 |
+----------------+------------------+------+------+-----------+-----------+---------+----------+---------+
| 'Cameroon'     | 'Daiguene'       | ''   | 2009 | '4.7770'  | '13.8440' |      96 |        0 |       0 |
+----------------+------------------+------+------+-----------+-----------+---------+----------+---------+
...

In [69]:
prologue = r"""
\begin{tabular}{lllcccccc}
\toprule
\multicolumn{6}{c}{\textbf{Collection}} &
\multicolumn{3}{c}{\textbf{\emph{Anopheles} species counts}}\\
\cmidrule(r){1-6}
\cmidrule(r){7-9}
Country & 
Location & 
Site &
Year &
Latitude & 
Longitude & 
\emph{gambiae} & 
\emph{coluzzii} & 
Unknown\\
\midrule
"""
template = r"""
{country} & {location} & {site} & {year} & {latitude} & {longitude} & {gambiae} & {coluzzii} & {unknown} \\
"""
epilogue = r"""
\bottomrule
\end{tabular}
"""
b.totext('../tables/collections.tex', 
                            encoding='ascii',
                            prologue=prologue, 
                            template=template,
                            epilogue=epilogue)

!cat ../tables/collections.tex

\begin{tabular}{lllcccccc}
\toprule
\multicolumn{6}{c}{\textbf{Collection}} &
\multicolumn{3}{c}{\textbf{\emph{Anopheles} species counts}}\\
\cmidrule(r){1-6}
\cmidrule(r){7-9}
Country &
Location &
Site &
Year &
Latitude &
Longitude &
\emph{gambiae} &
\emph{coluzzii} &
Unknown\\
\midrule

Angola & Luanda &  & 2009 & -8.8210 & 13.2910 & 0 & 78 & 0 \\

Burkina Faso & Bana &  & 2012 & 11.2330 & -4.4720 & 20 & 40 & 0 \\

 & Pala &  & 2012 & 11.1500 & -4.2350 & 46 & 10 & 0 \\

 & Souroukoudinga &  & 2012 & 11.2350 & -4.5350 & 26 & 25 & 0 \\

Cameroon & Daiguene &  & 2009 & 4.7770 & 13.8440 & 96 & 0 & 0 \\

 & Gado Badzere &  & 2009 & 5.7470 & 14.4420 & 73 & 0 & 0 \\

 & Mayos &  & 2009 & 4.3410 & 13.5580 & 105 & 0 & 0 \\

 & Zembe Borongo &  & 2009 & 5.7470 & 14.4420 & 23 & 0 & 0 \\

Cote d'Ivoire & Tiassale &  & 2012 & 5.8984 & -4.8229 & 0 & 71 & 0 \\

Equatorial Guinea & Bioko &  & 2002 & 3.7000 & 8.7000 & 9 & 0 & 0 \\

France & Mayotte & Bouyouni & 2011 & -12.7378 & 45.1417 & 1 & 0 & 0 \\

 &  & Combani & 2011 & -12.7787 & 45.1429 & 5 & 0 & 0 \\

 &  & Karihani Lake & 2011 & -12.7965 & 45.1217 & 3 & 0 & 0 \\

 &  & Mont Benara & 2011 & -12.8570 & 45.1552 & 2 & 0 & 0 \\

 &  & Mtsamboro Forest Reserve & 2011 & -12.7027 & 45.0811 & 1 & 0 & 0 \\

 &  & Mtsanga Charifou & 2011 & -12.9907 & 45.1557 & 8 & 0 & 0 \\

 &  & Sada & 2011 & -12.8521 & 45.1039 & 4 & 0 & 0 \\

Gabon & Libreville &  & 2000 & 0.3840 & 9.4550 & 69 & 0 & 0 \\

Gambia, The & Njabakunda & Kerr Birom Kardo & 2011 & 13.5500 & -15.9000 & 0 & 0 & 19 \\

 &  & Kerr Sama Kuma & 2011 & 13.5500 & -15.9000 & 0 & 0 & 8 \\

 &  & Maria Samba Nyado & 2011 & 13.5500 & -15.9000 & 0 & 0 & 18 \\

 &  & Sare Illo Buya & 2011 & 13.5500 & -15.9000 & 0 & 0 & 20 \\

Ghana & Koforidua &  & 2012 & 6.0945 & -0.2609 & 0 & 1 & 0 \\

 & Madina &  & 2012 & 5.6685 & -0.2193 & 12 & 12 & 0 \\

 & Takoradi &  & 2012 & 4.9122 & -1.7740 & 0 & 20 & 0 \\

 & Twifo Praso &  & 2012 & 5.6086 & -1.5493 & 0 & 22 & 0 \\

Guinea & Koraboh &  & 2012 & 9.2500 & -9.9170 & 22 & 0 & 0 \\

 & Koundara &  & 2012 & 8.5000 & -9.4170 & 18 & 4 & 0 \\

Guinea-Bissau & Antula &  & 2010 & 11.8910 & -15.5820 & 0 & 0 & 58 \\

 & Safim &  & 2010 & 11.9569 & -15.6492 & 0 & 0 & 33 \\

Kenya & Kilifi & Junju & 2012 & -3.8620 & 39.7450 & 0 & 0 & 16 \\

 &  & Mbogolo & 2012 & -3.6350 & 39.8580 & 0 & 0 & 32 \\

Uganda & Tororo & Nagongera & 2012 & 0.7700 & 34.0260 & 112 & 0 & 0 \\

\bottomrule
\end{tabular}